<:Body>
	<th>
		<div class="filter-label dropdown">
				{{ if page._column_filt.any? { |x| x._col == attrs.field_name.to_s } }}
					<span data-toggle="dropdown">{{ filter_label(attrs.field_name) }}</span>
				{{ else }}
					<span class="fa fa-filter muted" data-toggle="dropdown"></span>
				{{ end }}
				<ul class="dropdown-menu">
					<form e-submit="apply_filters(attrs.field_name, event)">
						<li style="padding: 5px;">Filter {{ attrs.label }}</li>
						<li style="padding: 5px;">
							<select value="{{options}}" class="form-control">
								<option value=""></option>
								<option value="$eq">=</option>
								<option value="$ne">!=</option>
								<option value="$gt">&gt;</option>
								<option value="$gte">&gt;=</option>
								<option value="$lt">&lt;</option>
								<option value="$lte">&lt;=</option>
							</select>
						</li>
						<li style="padding: 5px;">
							<input type="text" class="form-control" value="{{ values }}" label=false />
						</li>
						<li role="separator" class="divider"></li>
						<li style="padding: 5px;">
							<button type="reset" e-click="reset(attrs.field_name, event)" class="btn btn-default btn-block">Reset</button>
						</li>
						<li style="padding: 5px;">
							<button type="submit" class="btn btn-default btn-block">Apply</button>
						</li>
					</form>
				</ul>
		</div>
	</th>
