<:Body>
	<th class="{{ if params._sort_field == attrs.sort_name }} selected {{ end }}">
		{{ if attrs.sort_name }}
			<div>
				<span e-click="show_sort_modal" class="fa fa-toggle-down pull-left options"></span>
				<a e-click="sort(attrs.sort_name)">{{ attrs.label }}
				{{ if params._sort_field == attrs.sort_name }}
					<span class="fa fa-sort-{{sort_direction(attrs.sort_reverse)}}"></span>
				{{ else }}
					<span class="fa fa-sort"></span>
				{{ end }}
				</a>
			</div>
		{{ else }}
			{{ attrs.label }}
		{{ end }}
	</th>
