<:Body>
  <tbody>
    {{ unless current_page.loaded? }}
      <tr>
        <td class="loading" colspan="{{ page._table._columns.size }}">
          Loading...
          Someone please make me pretty!
        </td>
      </tr>
    {{ end }}
    {{ if false }}
      {{ yield }}
    {{ else }}
      {{ current_page.each do |data| }}
        <tr>
            {{ page._table._columns.each_with_index do |item, index| }}
              {{ if item._shown }}
                <td e-click="td_click(data.id, index)" class="{{ if params._sort_field == item._sort_name }} selected_body {{ end }}">
                  {{ raw(data.send(item._field_name)) }}
                </td>
              {{ end }}
            {{ end }}
        </tr>
      {{ end }}
    {{ end }}
  </tbody>
