<:Body>
<div class="modal fade" id="sortModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sort and Filter</h4>
      </div>
      <div class="modal-body">
        {{ search_fields.each_with_index do |field, i| }}
        <div class="row">
          <div class="col-xs-3">
            {{ field['title'] }}
          </div>
          <div class="col-xs-9">
            <div class="col-sm-6">
              <:fields:select value="{{ options[i] }}" label=false options="{{ [{label:'Greater Than', value:'$gt'}, {label:'Less Than', value:'$lt'}, {label:'Not Equal to', value:'$ne'}] }}" />
            </div>
            <div class="col-sm-6">
              <:fields:text value="{{ values[i] }}" label=false />
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="modal-footer">
      <div align="center">
          <button class="btn btn-default" data-dismiss="modal" style="margin-right:20px">Cancel</button>
          <button class="btn btn-default" e-click="modal" style="margin-right:20px">Clear Filters</button>
          <button class="btn btn-primary" e-click="apply_filters" style="margin-right:20px">Apply</button>
      </div>
      </div>
    </div>
  </div>
