<:Title>
  Home

<:Body>
  <h1>Table with Wrapper</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Users Table
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <:table:headers />
            </div>
          </div>
          <:table:wrapper>
            <:table:columns />
            <:table:main:body source="{{ all_users }}" e-user_click="show_user_detail" e-email_click="show_email"/>
          </:table:wrapper>
          <:table:main:footers source="{{ all_users }}" />
        </div>
      </div>
    </div>
  </div>
