.dropdown-item {
  margin-left: 7px;
}
.fa-search {
  top: 0;
}
.popover {
  width: 250px !important;
  display: none;
  top: -60px;
  left: 39px;
}
th {
  vertical-align: bottom !important;
  padding: 0px !important;
  border-bottom: none !important;
}

.selected {
  background: rgba(247, 247, 247, 0.89);
  text-decoration: none;
}
.selected_body {
  background: rgba(202, 202, 202, 0.24)
}
.options {
  color: black !important;
  margin-top: 3px;
}
.options:hover {
  color: #337ab7 !important;
}
.btn-middle {
  border-radius: 0px;
}
.btn-left {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.infos {
  float: right;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.table-responsive {
  overflow-x: visible !important;
}
.column-header {
  text-align: center;
  .filter-label {
    color: black;
    font-weight: normal;
  }
  .default-label {
    width: 100%;
    height: 22px;
    background: #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
.table-toolbar {
  margin-bottom: 15px;
}
